.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
}

.center .login {
    border: 3px solid rgb(105, 152, 206);
    width: 500px;
    justify-content: center;
    align-items: center;
    display: block;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.center .login .login_wrap {
    width: 300px;
    margin: auto;
}

.center .login .login_wrap .cssLogin {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}
.center .login .login_wrap .cssLogin input {
    width: 60%;
    border: 1.5px solid #41719b;
}

.center .login .login_wrap .cssPass {
    display: flex;
}

.center .login .login_wrap .selectValue {
    margin-top: 15px;
}
.center .login .login_wrap .selectValue .divideValue {
    display: inline-block;
    border: 1.5px solid rgb(105, 152, 206);
    background-color: rgb(105, 152, 206);
    width: 30%;
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1.5px solid #41719b;
}
.center .login .login_wrap .selectValue select {
    height: 29px;
    border: 1.5px solid #41719b;
}

.center .login .login_wrap .loginInput {
    display: inline-block;
    border: 1px solid #41719b;
    background-color: rgb(105, 152, 206);
    width: 30%;
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    color: white;
    font-size: 14px;
    text-align: center;
}

.center .login .login_wrap .gender {
    background-color: rgb(105, 152, 206);
    width: 30%;
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    color: white;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    border: 1.5px solid #41719b;
}
.center .login .login_wrap #selectGender {
    display: inline-block;
}
.center .login .login_wrap #gender0 {
    margin-left: 12px;
    margin-right: 12px;
}
.center .login .login_wrap #gender1 {
    margin-left: 22px;
    margin-right: 12px;
}
.center .login .login_wrap .push {
    text-align: center;
    margin-top: 40px;
}

.center .login .login_wrap .push .submit {
    padding: 10px 30px 10px 30px;
    background-color: #71ad47;
    border: 2px solid rgb(105, 152, 206);
    border-radius: 8px;
    color: white;
}
